/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald, h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'oswaldregular';
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #555555;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* html.scss */
/* line 4, ../sass/html.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #555555;
  background: #f6f6f6;
}

/* line 12, ../sass/html.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../sass/html.scss */
header, nav, section, article, figure, aside, footer {
  display: block;
}

/* line 20, ../sass/html.scss */
a {
  color: #555555;
}

/* line 23, ../sass/html.scss */
a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #333;
}

/* line 28, ../sass/html.scss */
h1, .h1 {
  font-size: 1.84em;
}

/* line 31, ../sass/html.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin: 0 0 15px;
  line-height: 1.3;
}

/* line 36, ../sass/html.scss */
h2 {
  font-size: 1.57em;
}

/* line 40, ../sass/html.scss */
h3, .h3 {
  font-size: 1.428em;
}

/* line 43, ../sass/html.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-size: 1em;
}

/* line 48, ../sass/html.scss */
address {
  margin-bottom: 15px;
}

/* line 52, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 57, ../sass/html.scss */
input, button, select, textarea {
  padding: 6px;
  border: 1px solid #ddd;
  outline: none;
}

/* line 62, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 65, ../sass/html.scss */
p {
  margin-bottom: 15px;
  
}





/************************Custom CSS*************/



#block-views-block-ipm-club-block-1-4{
	width: 49%;
    float: right;
    color: #fff;
    padding: 1% 0% 3% 3%;
	border-right: 1px solid #fff;
	font-size: 20px;
	background-color:#56BBB8;
	border-radius:7px;
}
#block-views-block-pgp-club-block-1-4{
	width: 49%;
	float:left;
    color: #fff;
    padding: 1% 0% 3% 3%;
	font-size: 20px;
	background-color:#56BBB8;
	border-radius:7px;
}
#block-views-block-latest-articles-block-1 ,
#block-views-block-latest-articles-ipm-block-1 {
	padding-left:4%;
	background-color:#fcfcfc;
    border-left: 1px solid #afafaf;
	border-right: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	padding-bottom: 35px;
}

.content h2{
    color: white;
    background-color: #EB6A14;
    margin: -8px -1px 15px -24px;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.14286em;
}
div#block-views-block-latest-articles-block-1 h2{
margin: -10px -1px 15px -24px;
}
#block-views-block-live-project-block-1 h2{
	color: white;
    background-color: #EB6A14;
    margin: -8px -10px 11px -10px;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.23em;
}

#block-views-block-latest-news-events-ipm-block-2 h2,
#block-views-block-pgp-latest-news-events-block-2 h2,
#block-views-block-latest-articles-ipm-block-2 h2,
#block-views-block-latest-articles-block-2 h2,
#block-views-block-ipm-club-block-2 h2,
#block-views-block-pgp-club-block-2 h2,
#block-views-block-ipm-committees-block-1 h2,
#block-views-block-pgp-committees-block-1 h2,
#block-views-block-pgp-article-block-1 h2,
#block-views-block-ipm-article-block-1 h2{
     margin-left: 1px !important;
}
div#block-views-block-latest-news-events-block-1 .views-field.views-field-title{
	font-size:1.1em  !important;
	width:200px !important ;
}

#block-views-block-pgp-article-block-1 .views-field.views-field-field-news-image,
#block-views-block-ipm-article-block-1 .views-field.views-field-field-news-image{
    width: 30%;
    float: left;
	height: 170px !important;
	margin-top: 12px;
}
div#block-views-block-pgp-latest-news-events-block-2 .views-field.views-field-field-news-events-image,
div#block-views-block-latest-news-events-ipm-block-2 .views-field.views-field-field-news-events-image{
	width: 30%;
    float: left;
	height: 170px !important;
	margin-top: 12px;
}
.views-field.views-field-field-news-events-image{
	 width: 23%;
    float: left;
	height: 170px !important;
	margin-top: 12px;
}
.sidebar-first.views-field.views-field-title{
    width: 50%;
    font-size: 25px;
    float: left;
    height: 43px;
}
.content .views-field.views-field-field-sheduled-date-time{
	color:#47639E !important;
}
.sidebar .views-field-title {
    font-weight: bold;
    font-size: 15px !important;
	color:#55555 !important;
}
span.views-field.views-field-title a  {
	font-size: 25px;
	font-size: 25px;
	color:#47639E ;
}
.content .views-field-title {
	font-size: 21px;
	color:#47639E ;
}
.content .views-field-title a{
	color:#47639E ;
	font-family: "oregon_ldoregular", sans-serif;
}
.content .views-field-title a:hover{
	color:#6B8CD0 !important;
}
span.views-field.views-field-title a:hover {
	color:#6B8CD0 !important;
}

span.views-field.views-field-field-news-image {
    float: left;
    width:30%;
	height: 170px;
}
span.views-field.views-field-field-sheduled-date-time {
    color: #47639E;
    font-size: 12px;
}
#block-views-block-latest-news-events-block-1 .views-field.views-field-field-sheduled-date-time,
#block-views-block-pgp-latest-news-events-block-1 .views-field.views-field-field-sheduled-date-time,
#block-views-block-latest-news-events-ipm-block-1 .views-field.views-field-field-sheduled-date-time,
#block-views-block-latest-news-events-block-1-2 .views-field.views-field-field-sheduled-date-time,
#block-views-block-latest-news-events-ipm-block-1-2 .views-field.views-field-field-sheduled-date-time,
#block-views-block-pgp-latest-news-events-block-1-2 .views-field.views-field-field-sheduled-date-time,
div#block-views-block-pgp-latest-news-events-block-1-3  .views-field.views-field-field-sheduled-date-time,
div#block-views-block-pgp-latest-news-events-block-4 .views-field.views-field-field-sheduled-date-time,
#block-views-block-latest-news-events-ipm-block-3  .views-field.views-field-field-sheduled-date-time,
div#block-views-block-pgp-latest-news-events-block-1-4 .views-field.views-field-field-sheduled-date-time,
div#block-views-block-latest-news-events-ipm-block-1-4 .views-field.views-field-field-sheduled-date-time{
    width: 47%;
	height:120px;
	font-family: 'Century Gothic';
    float: left;
    background-image:url("../../zircon/images/calendar1.png") !important;
	background-size: 100px 105px;
    color: #333;
	padding: 14% 0% 0% 9%;
    margin: 1px 7px 4px -14px;
	background-repeat: no-repeat;
	font-weight: bold;
}
#block-views-block-latest-news-events-block-1 .views-field.views-field-body p,
#block-views-block-pgp-latest-news-events-block-1 .views-field.views-field-body p,
#block-views-block-latest-news-events-ipm-block-1 .views-field.views-field-body p,
#block-views-block-latest-news-events-block-1-2 .views-field.views-field-body p,
#block-views-block-latest-news-events-ipm-block-1-2 .views-field.views-field-body p,
#block-views-block-pgp-latest-news-events-block-1-2 .views-field.views-field-body p,
div#block-views-block-pgp-latest-news-events-block-4  .views-field.views-field-body p,
#block-views-block-latest-news-events-ipm-block-3  .views-field.views-field-body p,
#block-views-block-pgp-latest-news-events-block-1-4  .views-field.views-field-body p,
#block-views-block-latest-news-events-ipm-block-1-4  .views-field.views-field-body p{
	height:120px;
}
span.views-field.views-field-body p{
	margin-left:0px;
}
.views-field.views-field-body {
     height: 115px;
	color:#777 !important;
}
#block-views-block-latest-articles-block-1 .views-field.views-field-body, 
#block-views-block-latest-articles-ipm-block-1 .views-field.views-field-body{
	height: 90px;
}
#block-views-block-latest-articles-block-1 .views-field.views-field-body  p,
#block-views-block-latest-articles-ipm-block-1 .views-field.views-field-body  p {
	margin-left:0px;
	font-size:12px !important;
}

.views-field.views-field-field-news-image{
	height:111px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.views-field.views-field-field-news-image:hover{
	-webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

#block-views-block-latest-articles-block-1 .views-field-title ,
#block-views-block-latest-articles-ipm-block-1 .views-field-title {
	font-size: 14px;
	height: 76px;
	width: 90%;
}
#block-views-block-live-project-block-1 .views-field-title{
	font-size: 1.1em;
	height: 65px;
	width: 90%;
}
.sidebar-first span.views-label.views-label-field-functional-domains{
	width:88% !important;
}
.sidebar-first #block-views-block-projects-block-1 .views-field.views-field-title {
    width: 97%;
	margin-left:0 !important;
}
#block-views-block-live-project-block-1 {
    margin-top: 15px;
    border: 5px solid #f6f6f6;
	padding:1%;
	background-color:#f6f6f6;
	border-radius:5px;
	min-height: 418px;
}
#block-views-block-live-projects-block-1-4 .views-field-title{
	height: 60px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-field-company-logo{
	height: 100px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-body p {
	margin-left:0 !important;
	font-size:12px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-field-company-name{
	width:200px;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-view-node{
	margin-left:0px  !important;
}
#block-views-block-latest-articles-block-1 .views-field-title a,
#block-views-block-live-projects-block-1-4 .views-field-title a,
#block-views-block-latest-articles-ipm-block-1 .views-field-title a{
	color:#555 !important;
}
.content .views-field-title a:hover{
    color: #47639E;
}
.content .views-field-created {
	color: #47639E;
    font-size: 12px;
	height: 20px;
}
.content #block-views-block-latest-articles-block-1 .field-content,
.content #block-views-block-latest-articles-ipm-block-1 .field-content{
	width:82%;
}

.views-field-view-node a:hover{
	color:#fff !important;
}
#block-views-block-latest-articles-block-1 .views-field-view-node ,
#block-views-block-live-project-block-1 .views-field-view-node ,
#block-views-block-latest-articles-ipm-block-1 .views-field-view-node,
#block-views-block-latest-articles-ipm-block-2 .views-field-view-node{
    background:#2CAAA6;
    width: 80px;
    color: #fff !important;
    padding: 3px 0px 1px 3px;
	margin-left:0;
	border-radius: 5px;
   
}
#block-views-block-latest-articles-block-1 .views-field-view-node:hover ,
#block-views-block-live-project-block-1 .views-field-view-node :hover,
#block-views-block-latest-articles-ipm-block-1 .views-field-view-node:hover,
#block-views-block-latest-articles-ipm-block-2  .views-field-view-node:hover{
    background: #EB6A14;
    width: 80px;
    color: #fff !important;
    padding: 3px 0px 1px 3px;
	margin-left:0;
   
}
div#block-views-block-latest-articles-ipm-block-2 .views-field-view-node,
div#block-views-block-latest-articles-block-2 .views-field-view-node{
     display:none;	
}
.views-field-view-node{
    background:#2CAAA6;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
	border-radius: 6px;
}
.views-field-view-node:hover{
    background:#EB6A14;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
}
.views-field.views-field-field-apply-now {
	 background: #2CAAA6;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
	margin-left:20px;
	border-radius: 6px;
}
.views-field.views-field-field-apply-now:hover {
	 background: #EB6A14;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
	margin-left:20px;
}
#block-views-block-live-project-block-1 .views-field.views-field-field-apply-now {
	background: #6B8CD0;
    width: 72%;
    color: #fff !important;
    padding: 3px 0px 7px 8px;
    margin-left: -4px;
    margin-top: 9px;
}
.field.field--name-field-apply-now.field--type-link{
	background: #EB6A14;
    width: 145px;
    color: #fff !important;
    padding: 6px 12px 10px 11px;
    margin-left: 20px;
    float: right;
    margin-top: -72px;
    border-radius: 5px;
	margin-right: 11px;
}
.field.field--name-field-apply-now.field--type-link:hover{
	background: #2CAAA6;
    width: 145px;
    color: #fff !important;
    padding: 6px 12px 10px 11px;
    margin-left: 20px;
    float: right;
    margin-top: -72px;
    border-radius: 5px;
	margin-right: 11px;
}
.views-field.views-field-field-apply-now a,
.field.field--name-field-apply-now.field--type-link a {
	color: #fff !important;
}
#block-views-block-pgp-latest-news-events-block-2 .more-link,
#block-views-block-latest-news-events-ipm-block-2 .more-link{
	padding: 6px 5px 5px 6px;
}

.more-link{
	background: #2CAAA6;
    width: 90px;
    color: #fff !important;
    padding: 6px 9px 5px 6px;
    margin-left: 130px;
   border-radius: 6px;
   font-size: 14px;
}
.more-link:hover{
	background: #EB6A14;
    width: 90px;
    color: #fff !important;
    padding: 6px 9px 5px 6px;
    margin-left: 130px;
    border-radius: 6px;
	font-size: 14px;
}
.more-link a{
	color:#fff !important;
}
input#edit-submit--2{
	background: #6B8CD0 ! important;
}

#block-views-block-discussion-forum-block-1 th#view-title-table-column ,
div#block-views-block-discussion-forum-block-1-3 th#view-title-table-column{
    width: 36%;
	color: #fff ! important;
}
div#block-views-block-discussion-forum-block-1 td.views-field.views-field-title,
div#block-views-block-discussion-forum-block-1-3 td.views-field.views-field-title,
div#block-views-block-discussion-forum-block-1 td.views-field.views-field-title a,
div#block-views-block-discussion-forum-block-1-3 td.views-field.views-field-title a  {
    font-size: 12px;
    color: #fff !important;
    padding: 2% 0% 2% 2%;
    font-weight: 100;
}
div#block-views-block-discussion-forum-block-1 td.views-field.views-field-comment-count,
div#block-views-block-discussion-forum-block-1-3  td.views-field.views-field-comment-count,
 div#block-views-block-discussion-forum-block-1 td.views-field.views-field-comment-count a 
 div#block-views-block-discussion-forum-block-1-3 td.views-field.views-field-comment-count a {
    text-align: center;
	color:#fff;
}
th#view-title-table-column {
    font-size: 20px;
	padding: 1%;
}
td.views-field.views-field-title {
    font-size: 18px;
	padding: 1%;
}
.view-header a{
	font-size:20px;
}
tr {
    border-bottom: 2px solid;
}
table.views-table.views-view-table.cols-4 {
    width: 80%;
    margin: auto;
	border: 3px solid;
    padding: 0%;
    background: #fcfcfc;
}
.odd-row{
	background: #2CAAA6;
}
.content .odd-row{
	background: none;
}
div#block-views-block-discussion-forum-block-1 .views-field.views-field-taxonomy-forums,
div#block-views-block-discussion-forum-block-1 .views-field.views-field-taxonomy-forums a,
div#block-views-block-discussion-forum-block-1-3  .views-field.views-field-taxonomy-forums,
div#block-views-block-discussion-forum-block-1-3 .views-field.views-field-taxonomy-forums a{
    padding: 5% 4% 5% 3%;
	color: #fff;
	font-size: 1em;
}
.views-field.views-field-taxonomy-forums a:hover{
	color:#333;
}
#view-comment-count-table-column{
	padding-right:9px;
	color: #fff;
}
.view-title-table-column tr.odd {
    background-color: #47639E;
}
div#block-views-block-announcements-block-1-2{
	background-color:#f6f6f6;
}
#block-views-block-discussion-forum-block-1 {
    background-color:#56BBB8;
	padding:0px;
    margin-top: 30px;
}
.sidebar-first .views-field-title{
	margin-left: 31px;
}

.region.region-sidebar-second.contextual-region{
	border-bottom: 0;
	border-top: 30px solid #47639E;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;
}
#block-views-block-latest-news-events-block-1 {
	border:5px solid #47639E ;
}
#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size: 21px;
    color: #333;
}
#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size:20px;
}
header#header {
	height: 100px;
}
a.site-logo {
    width: 160px !important;
    margin-left: 40px;
    margin-top: -39px;
	float:left;
}
#block-zircon-search {
	margin: 1% 3% 0% 0%;
}
#main-menu .container ul.menu .menu-item--expanded{
	background-color:#27AE60 ! important;
}
#block-socialmedialinks {
    margin-left:77%;
}
.views-field.views-field-field-ipm-logo,
.views-field.views-field-field-club-logo {
    float: left;
    width: 120px;
	height: 120px;
    border: 1px solid #dadada;
    padding: 10px;
    background-color: #fcfcfc;
	margin: 11px 17px 11px 24px;
}
.views-field.views-field-field-committees-images{
	float: left;
    width: 120px;
	height: 120px;
    border: 1px solid #dadada;
    padding: 10px;
    background-color: #fcfcfc;
	margin: 11px 17px 11px 24px;
}
.views-field.views-field-field-club-logo  img,
.views-field.views-field-field-ipm-logo img{
	width:100px !important;
	height: 100px;
}
#block-views-block-ipm-club-block-1-8 .views-field.views-field-field-ipm-logo img,
#block-views-block-pgp-club-block-1-7 .views-field.views-field-field-club-logo  img{
	height: 75px;
}
 #block-views-block-ipm-club-block-1-8 .more-link,
 #block-views-block-pgp-club-block-1-7  .more-link {
    padding: 5px 17px 4px 6px;
    margin-top: 10px;
}
.sidebar-first .views-field.views-field-field-ipm-logo,
.sidebar-first .views-field.views-field-field-club-logo,
.sidebar-second .views-field.views-field-field-ipm-logo,
.sidebar-second .views-field.views-field-field-club-logo {
	width:100%;
	padding:0;
	border:0;
	margin: 0;
    height: 60px !important;
}
#block-views-block-ipm-club-block-1-4 .views-field.views-field-field-ipm-logo,
#block-views-block-pgp-club-block-1-4 .views-field.views-field-field-club-logo {
    width: 77%;
    display: inline-block;
    padding: 9% 7% 0% 8%;
    border: 1px solid #fff;
    /* background-color: #fff; */
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
    height: 100px;
	margin: 11px 17px 11px 0px;
	border-radius: 6px;
}
#block-views-block-ipm-club-block-1-4 .views-field.views-field-field-ipm-logo img,
#block-views-block-pgp-club-block-1-4 .views-field.views-field-field-club-logo img{
	height:auto;
}
.views-field.views-field-field-ipm-logo:hover,
.views-field.views-field-field-club-logo:hover{
	-webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
#panel_first .container {
	background-color:#eee !important;
}

#block-views-block-ipm-club-block-1-2 {
	margin-top: 7px;
}

div#block-views-block-latest-news-events-block-1 h2 {
    background: #47639E;
    color: white;
    font-size: 1.23em;
    text-align: center;
}

#block-views-block-latest-news-events-block-1 .region-sidebar-second .contextual{
	border-bottom: 0;
	border-top: 30px solid #47639E;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;
}
.region.region-slideshow {
    height: 390px;
	width:100%;
}
.views-row.views-field.views-field-body{
	padding:1%;

}
.views-field-view-node a{
	color:#fff !important;
	font-size:11px;
}
ul.inline li a, ul.links.inline li a{
	    background: none !important;
}
ul.inline li a:hover,ul.links.inline li a:hover{
	    background: none !important;
}
span.fa.fa-envelope.fa-2x,
span.fa.fa-twitter.fa-2x, 
span.fa.fa-facebook.fa-2x,
span.fa.fa-youtube.fa-2x{
	font-size: 19px;
	width: 41px;
    height: 29px;
    margin-left: -10px;
    margin-top: -4px;
    padding: 20%;
}
ul.inline li a{
	  border-radius: 20% !important;
}
span.fa.fa-envelope.fa-3x,
span.fa.fa-twitter.fa-3x, 
span.fa.fa-facebook.fa-3x,
span.fa.fa-youtube.fa-3x{
    height: 48px;
	width: 48px;
	margin: 4px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	padding-top: 7px;
}
span.fa.fa-envelope.fa-2x,
span.fa.fa-envelope.fa-3x{
    background-color: #C0392B;
}
span.fa.fa-twitter.fa-2x,
span.fa.fa-twitter.fa-3x{
    background-color:rgb(0, 172, 237);
}
span.fa.fa-twitter.fa-2x:hover,
span.fa.fa-twitter.fa-3x:hover{
   background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
span.fa.fa-facebook.fa-2x,
span.fa.fa-facebook.fa-3x{
	background-color:rgb(59, 89, 152);
}
span.fa.fa-facebook.fa-2x:hover,
span.fa.fa-facebook.fa-3x:hover{
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
span.fa.fa-youtube.fa-2x:hover,
span.fa.fa-youtube.fa-3x:hover{
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
span.fa.fa-envelope.fa-2x:hover,
span.fa.fa-envelope.fa-3x:hover{
   background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
span.fa.fa-youtube.fa-2x,
span.fa.fa-youtube.fa-3x{
	background-color:#C71D20;
}
#block-socialmedialinks-2 li a{
	color:#666 !important;
}
#block-socialmedialinks-2 li a :hover{
	color:#fff !important;
}
ul.inline .node-readmore a, ul.links.inline .node-readmore a{
	color:#fff !important;
}
#block-views-block-latest-announcements-block-1 .views-field.views-field-created{
	margin-left: 27px;
    margin-top: 2px;
    color: #47639E !important;
}
.views-col.col-1,.views-col.col-2{
    float: left;
}
#block-views-block-carousel-block-1-3 {
    height: 245px;
    background-color: #56BBB8;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
	margin-top: 24px;
}

#block-views-block-video-carousel-block-1-5{
	margin-top: 422px;
    background-color: #56BBB8;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
    height: 245px;
}

.sidebar #block-views-block-discussion-forum-block-1 h2 {
    color: white;
    background-color: #2CAAA6;
    margin: -13px -1px 20px 0px;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.23em;
}
.slick-slide.slick-active {
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.slick-slide.slick-active:hover{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.view-empty {
    display: none;
}
input#edit-mail {
    width: 185px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    color: #555555;
    float: left;
    height: 35px;
    line-height: 1.6;
    vertical-align: middle;
}
 input[type="submit"]{
	background-color: #6B8CD0;
	color:#fff;
	height:35px;
}
input[type="submit"]:hover{
	background-color:#47639E;
}
#footer ul.menu li a.is-active {
    color: #6B8CD0 !important;
}
#footer ul.menu li a:hover {
    color: #6B8CD0 !important;
}
input#edit-preview,.form-submit {
	background-color: #6B8CD0 !important;
}
input#edit-preview:hover,.form-submit:hover {
	background-color: #47639E !important;
}

#header .search-block-form .button{
	background:none !important;
}
.content .feed-icons{
	display:none;
}
span.views-field.views-field-field-company-logo {
    height: 300px;
    float: left;
}
.views-field.views-field-field-last-date-to-apply{
	height:45px;
}
.views-label.views-label-field-company-name,
.views-label.views-label-field-club-committee-name,
.views-label.views-label-field-duration,
.views-label.views-label-field-functional-domains,
.views-label.views-label-field-location,
.views-label.views-label-field-number-of-openings,
.views-label.views-label-field-report,
.views-label.views-label-field-target-audience{
    float: left;
	color:#333;
	width:24%;
	font-size: 17px;
    height: 18px;
}
.views-field.views-field-field-target-audience {
    margin-bottom: 8px;
}
.node.node--type-live-projects.node--view-mode-full {
	background-color:#fcfcfc;
}
.content .field.field--name-body.field--type-text-with-summary{
	background-color:#fff;
}
.field.field--name-field-company-logo{
    margin-left: 11px;
}
.field.field--name-field-club-committee-name,
.field.field--name-field-company-name,
.field.field--name-field-functional-domains,
.field.field--name-field-location,
.field.field--name-field-duration,
.field.field--name-field-target-audience,
.field.field--name-field-number-of-openings,
.field.field--name-field-report,
.field.field--name-field-last-date-to-apply
 {
    padding: 2%;
}
#data-quickedit-field-id{
	background-color:#fafafa;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-title {
	font-size:15px;
}
.content label.js-form-required.form-required{
	font-size:18px;
	color:#47639E;
	width:75%;
		
}

.description{
   width: 96%;
}
.content label.js-form-required.form-required:hover{
	color:#6B8CD0;
}
form#user-register-form,
form#user-pass {
    width: 80%;
    margin: auto;
	border:3px solid #777;
	background-color:#fcfcfc;
    padding: 4%;
	border-radius:5px;
}
form#user-register-form details#edit-contact {
    display: none;
}
.js-form-item.form-item.js-form-type-password.form-type-password.js-form-item-pass-pass2.form-item-pass-pass2.confirm-parent{
	    float: right;
    margin-top: -107px;
    /* margin-left: -31px; */
    margin-right: 38px;
}
div#edit-field-program-name-wrapper label,
#edit-field-last-name-wrapper label{
	font-size: 18px;
    color: #47639E;
}

#edit-account .form-email ,
input#edit-name {
	 width:95.6% !important;
	 margin-bottom: 6px;
 }
 #edit-pass-pass1,
 #edit-pass-pass2,
 #edit-field-roll-number-0-value{
	 width:370px !important;
	border: 2px solid #333;
 }
 #edit-mail{
	 border: 2px solid #333;
 }
input#edit-field-first-name-0-value,
input#edit-field-last-name-0-value,
select#edit-field-program-name,
select#edit-field-gender {
    width: 370px;
	border: 2px solid #333;
}
#edit-field-first-name-wrapper,
#edit-field-last-name-wrapper,
#edit-field-program-name-wrapper,
#edit-field-gender-wrapper{
	width:50%;
	float:left;
}

#tabs2 li {
	float: left;
    width: 23%;
    text-align: center;
    height: 39px;
    padding: 1%;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
    border-top: 1px solid #afafaf/*{borderColorDefault}*/;
	border-left: 1px solid #afafaf/*{borderColorDefault}*/;
	border-right: 1px solid #afafaf/*{borderColorDefault}*/;
}
#tabs2 li .contextual-region {
    width: 23%;
    float: left;
    text-align: center;
    height: 36px;
    padding: 1%;
	list-style-type: none;
	margin: 0px 41px 4px -40px !important;
}
#tabs3 li,
#tabs4 li,
#tabs5 li,
#tabs6 li{
	width: 23%;
    float: left;
    text-align: center;
    height: 42px;
    padding: 1%;
	list-style-type: none;
}

#tabs7 li {
    width: 50%;
    float: right;
    text-align: center;
    height: 42px;
    padding: 3.8%;
    list-style-type: none;
	border:none;
	border-bottom:0px !important;
	border-radius:3px;
}
#block-userlogin-3 li{
	 width: 93%;
	 padding:0 !important;
	 height: 20px;
}

#block-userlogin-3{
	width: 25%;
    position: absolute;
    z-index: 600;
    background-color: #47639E;
    padding: 2%;
    height: 540px;
    margin-left: 908px;
    margin-top: 24px;
    border: 10px solid #EB6A14;
}

details.captcha.js-form-wrapper.form-wrapper {
    width: 275px;
    /* height: 20px; */
    /* border: 0; */
    margin-top: 730px;
    margin-left: 1px;
}
div#block-userlogin-3 details.captcha.js-form-wrapper.form-wrapper {
	 width: 275px;
    /* height: 20px; */
    /* border: 0; */
    margin-top: 13px;
    margin-left: 1px;
}
#block-userlogin-3 li a{
    color: #fff;
}
 nav#block-useraccountmenu{
    width: 19%;
    position: absolute;
    z-index: 566;
    background-color: #47639E;
    height: 155px;
    margin-left: 988px;
    margin-top: 24px;
    border: 10px solid #6B8CD0;
}
nav#block-useraccountmenu ul{
	background-color: #F5F5F5;
    height: 41px;
    margin-top: 92px;
    width: 100%;
    margin-left: 0px;
    padding: 7px;
}
nav#block-useraccountmenu li a{
	color:#fff;
}
nav#block-useraccountmenu li{
    background-color: #3498DA;
    text-align: center;
    float: left;
    padding: 2%;
    margin-left: 30px;
    /* width: 21%; */
    margin-top: 0px;
}
nav#block-useraccountmenu h2{
	display:none;
}
nav#block-useraccountmenu {
	display:none;
}
#main-menu-inner {
    margin-top: 11px;
}
 #block-userlogin-3 .user-login-form .form-text{
	 width:252px;
 }
 #block-userlogin-3 summary {
    color: #fff;
}
#tabs li, 
#tabs1 li {
    width: 40%;
    float: left;
    text-align: center;
	line-height: 2.7;
    list-style-type: none;
}
.region.region-sidebar-second .ui-widget-header{
	margin-top:10px;
}

#tabs{font-size: 14px;}
 .region.region-sidebar-second .ui-widget-header,
 .content .ui-widget-header{
	background: none;
    border-bottom: 2px solid #3489DA !important;
    border: 1px solid #F6F6F6;
    color: #FFFFFF;
    font-weight: bold;
    height: 42px;
    text-decoration: none;
	padding:0;
 }
 li.ui-state-default.ui-corner-top {
    background-color: #3489DA;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    border-top: 1px solid #f6f6f6/*{borderColorDefault}*/;
	border-left: 1px solid #f6f6f6/*{borderColorDefault}*/;
	border-right: 1px solid #f6f6f6/*{borderColorDefault}*/;
    background: #EB6A14/*{bgColorDefault}*/ !important;
    font-weight: normal/*{fwDefault}*/;
    color: #555555/*{fcDefault}*/;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	 background: #E05915/*{bgColorDefault}*/ !important;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default a{
	color:#fff !important;
	font-weight: bold;
	height:39px;
}

.ui-widget-content{
	    border: 0px solid #aaaaaa/*{borderColorContent}*/;
}
form#node-application-form-form {
    width: 65%;
    margin: auto;
    border: 2px solid #6B8CD0;
	padding:3%;
	background-color:#f6f6f6;
}
.views-field.views-field-field-committees-image-ipm,
.views-field.views-field-field-committees-image-pgp {
    width: 21%;
    float: left;
}

#block-loginiconblock {
    cursor: pointer;
    Width: 64px;
    height: 64px;
    float: right;
    border: 2px solid #2CAAA6;
    border-radius: 100%;
    margin-right: -55px;
    margin-top: -41px;
    background-color: #2CAAA6;
	padding: 1%;
}

#block-loginiconblock:hover {
    cursor: pointer;
    Width: 64px;
    height: 64px;
    float: right;
    border: 2px solid #EB6A14;
    border-radius: 100%;
    margin-right: -55px;
    margin-top: -41px;
    background-color: #EB6A14;
	padding: 1%;
}
#block-loginiconblock h2 {
    margin-top: -33px;
    width: 88px;
    font-size: 17px;
    margin-left: -22px;
	color: #EB6A14;
}
.ui-state-default{
	background-color:#F7F7F7 !important;
}
#block-userlogin-3{
	display: none;
}
#block-userlogin-3 h2{
	margin-top: -21px;
    color: #fff;
}
div#block-views-block-projects-block-1-2 .views-field.views-field-field-company-logo {
    float: left;
	height: 85px;
	padding:1%;
}
#main-menu .container {
    border-radius: 0 !important;
	width:100%;
}
#slideshow .container{
	width:100% !important;
}
#main-menu{
	margin-bottom:0px !important;
}
form#contact-message-feedback-form{
	border:1px solid #f6f6f6;
	background-color:#fcfcfc;
	padding:2%;
}
 form#contact-message-feedback-form label{
	color: #47639E;
	font-size:18px;
 }
 form#contact-message-feedback-form label:hover{
	color: #6B8CD0;
	font-size:18px;
 }
form#contact-message-feedback-form  input#edit-mail,
form#contact-message-feedback-form  input#edit-name
{
	width:462px !important;
	margin-bottom:10px;
}

.event-month{
	margin-top: -12px;
    color: #fff;
    font-size: larger;
    text-transform: uppercase;
	text-align: center;
    margin-left: -9px;
    width: 93%;
}
.event-date{
	font-size: 33px;
    text-align: center;
    margin-left: -3px;
    font-weight: bold;
    margin-top: -3px;
    border-bottom: 1px solid #aaa;
    width: 66%;
    padding-bottom: 2px;
    line-height: 35px;
}
.event-year{
	text-align: center;
    margin-left: 26px;
    width: 90%;
    transform: rotate(90deg);
    margin-top: -24px;
	font-weight:normal;
	font-size:18px;
}
.event-time{
	margin-top: -3px;
	margin-left:26px;
    text-align: center;
    width: 62px;
	color:#6B8CD0;
	font-weight:normal;
	font-size: 18px;
	margin-left:-6px;
}
.region.region-main-menu {
    margin-left: 85px;
}
#block-views-block-discussion-forum-block-1-3 h2{
	background-color:#2CAAA6;
}
#block-views-block-discussion-forum-block-1-3 tr {
    background: #56BBB8;
}
#block-views-block-discussion-forum-block-1-3  tr.odd-row {
	background-color:#2CAAA6;
}
.region.region-sidebar-second #block-views-block-discussion-forum-block-1-3 {
    padding: 0 !important;
}
.region.region-sidebar-second #block-views-block-discussion-forum-block-1-3 h2{
	margin:0  !important;
}
#block-views-block-ipm-club-block-1-4 .more-link,
#block-views-block-pgp-club-block-1-4 .more-link{
	float: right;
    margin-right: 30px;
    width: 90PX;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
}

#block-views-block-latest-announcements-block-1 {
    background-color: #f6f6f6;
}

 #block-views-block-latest-announcements-block-1 .views-row{
	padding:1% !important;
 }
#slideshow_container{
	width: 600px !important;
}
#block-views-block-slideshow-block-1  {
    float:left;
    width: 44%;
}
#block-views-block-slideshow1-block-1{
    float: left;
}
#block-views-block-slideshow1-block-1-2,
#block-views-block-sports-slideshow-block-1-2{
    width: 29%;
    float: left;
	margin-left: 9px;
}
 
#block-views-block-video-block-1  {
    float: left;
	margin-top:-200px;
}
#block-views-block-live-project-block-1 .views-field.views-field-field-last-date-to-apply{
	width: 84%;
    float: left;
    /* margin-bottom: 26px; */
    font-weight: bold;
    padding: 0%;
    margin-top: 77px;
    border: 3px solid #56BBB8;
    text-align: center;
	border-radius: 6px;
}
#block-views-block-live-project-block-1  .views-field.views-field-field-company-name {
    color: #666;
    font-weight: bold;
	height: 23px;
}
#block-views-block-live-project-block-1 .views-field.views-field-body {
      height: 89px;
      width: 173px;
}
 div#block-views-block-live-project-block-1 span.views-label.views-label-field-last-date-to-apply,
 div#block-views-block-live-project-block-1 time.datetime{
	color:#333;
}
span.views-label.views-label-field-last-date-to-apply {
    width: 23%;
    float: left;
	font-weight: bold;
}
#block-views-block-live-project-block-1 span.views-label.views-label-field-last-date-to-apply{
	width:0;
	float: none;
}
#block-views-block-live-project-block-1  .views-field.views-field-field-club-committee-name{
	font-weight: bold;
    height:55px;
}
#block-views-block-article-slideshow-block-1 {
    float: left;
    width: 28%;
}
#block-views-block-sports-slideshow-block-1-2 {
    width: 28%;
    float: left;
}
#block-views-block-article-slideshow-block-1 .views-field.views-field-title {
	margin-bottom:-5px;
}
#block-views-block-article-slideshow1-block-1 {
    float: left;
    width: 27%;
}
#block-views-block-article-slideshow1-block-1 .views-field.views-field-title{
	margin-bottom:-58px !important;
}
#block-views-block-event-slideshow-block-1-2,
#block-views-block-video-slide-block-1-2 {
    float: left;
    width: 28%;
	margin-left: 9px;
}
#block-views-block-event-slideshow-block-1-2 a,
#block-views-block-article-slideshow1-block-1 a,
#block-views-block-video-slide-block-1-2 a,
#block-views-block-photo-gallery-slide-show-block-1-2 a{
	color:#fff;
}

#block-views-block-video-slide-block-1-2 h2,
#block-views-block-event-slideshow-block-1-2 h2,
#block-views-block-article-slideshow1-block-1 h2,
#block-views-block-photo-gallery-slide-show-block-1-2 h2{
    width: 85px;
    position: absolute;
    z-index: 28;
    color: #fff;
    background-color: #6B8CD0;
    padding: 4px;
    margin-top: 33px;
    /* margin: auto; */
    margin-left: 14px;
    font-size: 14px;
	text-align: center;
	height:25px;
}
#block-views-block-event-slideshow-block-1-2 .views-field.views-field-created,
#block-views-block-article-slideshow1-block-1 .views-field.views-field-created,
#block-views-block-photo-gallery-slide-show-block-1-2 .views-field.views-field-created,
#block-views-block-video-slide-block-1-2 .views-field.views-field-created{
	width: 25%;
    position: absolute;
    z-index: 200;
    margin-left: 266px;
    margin-top: 36px;
    color: #fff;
	font-style: italic;
}
#block-views-block-photo-gallery-slide-show-block-1-2 .views-field.views-field-title{
	margin-bottom:10px !important;
}
#block-views-block-photo-gallery-slide-show-block-1-2 h2{
	width:130px;
}
#block-views-block-event-slideshow-block-1-2 h2{
	background-color:#C0392B;
}
#block-views-block-video-slide-block-1-2 h2{
	background-color:#F09943;
}
#block-views-block-article-slideshow1-block-1 h2{
	background-color:#27AE60;
}
#block-views-block-photo-gallery-slide-show-block-1-2 li{
	list-style-type:none;
	margin:0;
}
#block-views-block-photo-gallery-slide-show-block-1-2{
	width: 27%;
    float: left;
}
#block-views-block-pgp-latest-news-events-block-1 ,
#block-views-block-latest-news-events-ipm-block-1{
    border: 4px solid #EB6A14;
	min-height: 877px;
    margin-top: -10px;
}
.sidebar h2{
	  -webkit-border-top-left-radius: 0px !important; 
     -webkit-border-top-right-radius: 0px !important; 
}
#block-views-block-video-slide-block-1-2 h2:hover,
#block-views-block-event-slideshow-block-1-2 h2:hover,
#block-views-block-article-slideshow1-block-1 h2:hover,
#block-views-block-photo-gallery-slide-show-block-1-2 h2:hover{
	background-color:#3489DA;
}
#block-views-block-event-slideshow-block-1-2 .views-field.views-field-field-news-events-image {
    width: 100%;
}
#block-views-block-event-calender-block-1-3,
#block-views-block-committees-block-block-1{
	font-weight: bold;
}
#block-views-block-event-calender-block-1-3 .views-field.views-field-title,
#block-views-block-committees-block-block-1 .views-field.views-field-title{
	margin-bottom: 12px;
    border-bottom: 2px solid #666;
    padding: 1px;
}
#block-views-block-magazines-block-1 .more-link{
	padding: 6px 16px 5px 6px;
}
article.contextual-region.node.node--type-sports-slideshow.node--promoted.node--view-mode-teaser,
article.contextual-region.node.node--type-video-slideshow.node--promoted.node--view-mode-teaser,
article.contextual-region.node.node--type-slideshow1.node--promoted.node--view-mode-teaser,
article.contextual-region.node.node--type-article-slideshow.node--promoted.node--view-mode-teaser {
    display: none;
}
li.menu-item a.is-active{
	border-radius:0px !important;
}
.views-field.views-field-field-month{
	position: absolute;
    z-index: 200;
    margin-top: -31px;
    background: #333;
    opacity: 0.9;
    color: #fff;
	width: 10%;
	text-align: right;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}
.views-field.views-field-field-year{
	margin-left: 78px;
	position: absolute;
    z-index: 100;
    margin-top: -31px;
    background: #333;
    opacity: 0.9;
    color: #fff;
	width: 12%;
	text-align: center;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}
.views-field.views-field-field-upload-magazine-1{
    height: 225px;
    width: 150px;
    margin-top: -153px;
    z-index: 999;
    position: absolute;
}
#block-views-block-magazines-block-1-2 .views-field.views-field-field-upload-magazine-1{
    height: 90px;
    width: 72px;
    margin-top: -92px;
    z-index: 999;
    position: absolute;
}
#block-views-block-magazines-block-1-2 .views-field.views-field-field-upload-magazine-1 a{
	height: 69px;
    display: block;
    margin-left: -20px;
    font-size: 1px;
    width: 150px
}
span.file.file--mime-application-pdf.file--application-pdf {
    background-image: none;
}
.views-field.views-field-field-upload-magazine-1 a{
	height: 150px;
    display: block;
    margin-left: -20px;
    font-size: 1px;
    width: 150px
}
#block-views-block-magazine-documents-block-1 .views-field.views-field-field-upload-magazine-1 a{
	height: 72px;
    display: block;
    margin-left: -20px;
    font-size: 1px;
    width: 69px
}
.region.region-sidebar-first #block-views-block-magazines-block-1-2 .views-field.views-field-field-upload-magazine-1 a{
	width: 71px;
    height: 90px;
    
}
#block-views-block-magazine-documents-block-1 .views-field.views-field-field-upload-magazine-1{
	height: 87px;
    width: 80px;
    margin-top: -108px;
    z-index: 100;
    position: absolute;
}
#block-views-block-magazine-documents-block-1.views-field.views-field-field-upload-magazine-1 a{
	height: 65px;
    display: block;
    margin-left: -20px;
    font-size: 1px;
    width: 72px;
}

h2,h3,a,p{
	    font-family: "oregon_ldoregular", sans-serif !important;
}
#block-socialmedialinks li a{
	height: 30px;
	width: 42px;
}
#block-zircon-branding{
	font-size: 36px;
    font-weight: bold;
    color: #EB6A14;
    margin-top: -25px;
    font-family: fantasy;
    letter-spacing: 2px;
}
.site-slogan {
    float: right;
}
#block-socialmedialinks-2 ul li a {
	padding:0 !important;
}
ul.menu.menu-12 {
    display: none !important;
}
#edit-account label {
	color:#47639E !important;
}
#edit-field-team-member-of-ipm-club-wrapper {
    width: 24%;
    border: 2px solid;
    float: left;
    padding: 1%;
    margin-left: 18px;
}
#edit-field-team-member-of-wrapper {
    width: 25%;
    float: left;
	border: 2px solid;
	padding: 1%;
}
#edit-field-pgp-committee-wrapper {
    height: 645px;
	width: 24%;
    border: 2px solid;
    float: left;
    margin-left: 22px;
    padding: 1%;
}
fieldset#edit-field-events-fests--wrapper{
	width: 18%;
    border: 2px solid;
    float: left;
    margin-left: 22px;
    padding: 1%;
    margin-top: 0px;
}
div#block-views-block-site-map-block-1 h2{
	font-size:35px;
}
div#block-views-block-carousel-block-1-4 h2{
	font-size: 31px;
    color: #fff;
	margin-left: 22px;
}
div#block-views-block-carousel-block-1-4 {
	background-color:#56BBB8;
    height: 245px;
}
#block-views-block-carousel-block-1-4 .more-link{
	margin-top: 12px;
    float: right;
    margin-right: 29px;
}
div#block-views-block-carousel-block-1-3 h2,
div#block-views-block-video-carousel-block-1-5 h2,
#block-views-block-events-calendar-block-block-1 h2 {
	margin-left:20px;
	color:#fff;
}
div#block-views-block-projects-block-1-2 .views-row{
	margin-top:15px;
}
div#block-views-block-meet-the-team-of-pgp-club-block-1 .views-field.views-field-user-picture,
div#block-views-block-meet-the-team-block-1  .views-field.views-field-user-picture,
div#block-views-block-meet-the-team-of-events-block-1 .views-field.views-field-user-picture{
	float: left;
    width: 116px;
}

.newPost{
	background-image: url('../images/newPost.png');
	background-size: 45px 45px;
	background-position: 0px 5px;
	background-repeat: no-repeat;
}
.region.region-content .view-content .views-row {
    border-bottom: 1px solid lightgray;
}
#block-views-block-latest-articles-block-1 .views-row.clearfix.row-1,
#block-views-block-latest-articles-ipm-block-1 .views-row.clearfix.row-1,
#block-views-block-live-project-block-1 .views-row.clearfix.row-1{
	border-bottom:0;
}
#views_slideshow_cycle_main_event_slideshow-block_1 .views-field.views-field-field-news-events-image{
	margin-top:0;
}

#block-loginiconblock h2{
	margin-top: 52px;
    position: absolute;
}
div#block-views-block-pgp-club-block-1-2 .views-field.views-field-field-club-logo img,
div#block-views-block-ipm-club-block-1-7 .views-field.views-field-field-ipm-logo img{
	height:70px;
	width: 53px !important;
}
#block-views-block-pgp-club-block-2 .more-link,
#block-views-block-ipm-club-block-2  .more-link,
#block-views-block-pgp-latest-news-events-block-2 .more-link,
#block-views-block-latest-news-events-ipm-block-2  .more-link{
	display:none;
}
footer#footer {
    background: #333;
	margin-top: -15px;
}
div#block-develovedby a {
	color:#FFF;
}
div#block-develovedby a:hover {
	color:#47639E;
}
div#block-views-block-pgp-latest-news-events-block-1 .view-content,
div#block-views-block-latest-news-events-ipm-block-1 .view-content {
	    height: 725px !important;
}
.views-field.views-field-field-company-logo{
	margin-left:22px;
}
div#block-views-block-pgp-latest-news-events-block-1-3 .view-rows{
	height:139px;
}
article.contextual-region.node.node--type-news.node--view-mode-full img ,
article.contextual-region.node.node--type-news-events.node--view-mode-full img {

	float:left;
	padding:2%;
	width: 280px;
}
div#block-views-block-pgp-club-block-2 .views-row,
div#block-views-block-ipm-club-block-2 .views-row{
	height: 165px;
    margin-top:8px;
}
div#block-views-block-pgp-latest-news-events-block-1-3  article,
div#block-views-block-pgp-latest-news-events-block-1-3  p{
	height: 100px;
    border-bottom: 1px dotted;
}
div#block-views-block-meet-the-team-of-pgp-club-block-1 .views-row,
#block-views-block-meet-the-team-of-events-block-1 .views-row{
	height:115px;
}
div#block-views-block-pgp-latest-news-events-block-1-2,
div#block-views-block-latest-news-events-ipm-block-1-2{
	margin-top: -10px;
}
div#block-views-block-pgp-club-block-block-1 .views-row,
div#block-views-block-ipm-club-block-block-1 .views-row{
	height:115px;
}
div#block-views-block-pgp-club-block-block-1 .views-field.views-field-field-club-logo,
div#block-views-block-ipm-club-block-block-1  .views-field.views-field-field-club-logo{
	width:83%;
}
#block-views-block-magazine-documents-block-1 .views-field.views-field-field-month,
#block-views-block-magazines-block-1-2  .views-field.views-field-field-month{
	width: 71px;
    font-size: 12px;
    margin-top: -49px;
    height: 15px;
}
#block-views-block-magazine-documents-block-1 .views-field.views-field-field-year,
#block-views-block-magazines-block-1-2 .views-field.views-field-field-year{
	width: 71px;
    font-size: 12px;
    margin-top: -35px;
    height: 15px;
    margin-left: -1px;
}
#block-views-block-magazines-block-1-2 .views-field.views-field-field-year{
	margin-top: -19px;
}
#block-views-block-magazines-block-1-2  .views-field.views-field-field-month{
	margin-top: -32px;
	width: 69px;
}
input#edit-submit-magazine-documents {
    float: left;
    margin-top: -47px;
    margin-left: 435px;
}
.views-view-grid.horizontal.cols-4.clearfix  .views-row.clearfix.row-1,
.views-view-grid.horizontal.cols-4.clearfix  .views-row.clearfix.row-3 {
    background-color: #f6f6f6;
}
.views-view-grid.horizontal.cols-4.clearfix  .views-row.clearfix.row-1,
.views-view-grid.horizontal.cols-4.clearfix  .views-row.clearfix.row-2,
.views-view-grid.horizontal.cols-4.clearfix  .views-row.clearfix.row-3{
	margin-bottom: 26px !important;
}
div#block-views-block-pgp-club-block-1-4 .views-row.clearfix.row-1,
div#block-views-block-ipm-club-block-1-4 .views-row.clearfix.row-1,
div#block-views-block-pgp-club-block-1-4 .views-row.clearfix.row-2,
div#block-views-block-ipm-club-block-1-4 .views-row.clearfix.row-2,
div#block-views-block-pgp-club-block-1-4 .views-row.clearfix.row-3,
div#block-views-block-ipm-club-block-1-4 .views-row.clearfix.row-3{
	background:none !important;
	margin-bottom: 0px !important;
}
.views-field.views-field-title.video-title a{
	background-color: rgba(0, 0, 0, 0.7);
    width: 23%;
    position: absolute;
    z-index: 0;
    font-size: 1.38em;
    margin-top: 93px;
    padding-left: 15px;
    color: #fff;
}
.views-field.views-field-title.video-title a :hover{
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
div#block-views-block-carousel-block-1-3  .more-link,
#block-views-block-video-carousel-block-1-5 .more-link{
	float: right;
    margin-right: 28px;
    margin-top: 12px;
}
#block-views-block-magazines-block-block-1 .views-field.views-field-field-upload-magazine-1 {
    height: 88px;
    width: 70px;
    margin-top: -104px;
    z-index: 5;
    position: absolute;
}
#block-views-block-magazines-block-block-1 .views-field.views-field-field-upload-magazine-1 a {
    height: 67px;
    display: block;
    margin-left: -20px;
    font-size: 1px;
    width: 71px;
    margin-top: -17px;
}
#block-views-block-magazines-block-block-1 .views-field.views-field-field-month {
    position: absolute;
    z-index: 200;
    margin-top: -46px;
    background: #333;
    opacity: 0.9;
    color: #fff;
    width: 23%;
    text-align: center;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px !important;
}
#block-views-block-magazines-block-block-1 .views-field.views-field-field-year {
    margin-left: 1px;
    position: absolute;
    z-index: 100;
    margin-top: -31px;
    background: #333;
    opacity: 0.9;
    color: #fff;
    width: 23%;
    text-align: center;
    height: 14px;
    font-size: 11px;
    font-weight: bold;
}
.content .views-field.views-field-field-fests-club-logo {
    /* float: left; */
    float: left;
    width: 120px;
    height: 120px;
    /* border: 1px solid #dadada; */
    padding: 10px;
    /* background-color: #fcfcfc; */
    margin: 11px 17px 11px 24px;
}
div#block-views-block-events-calendar-block-block-1 .views-field.views-field-title a{
	background-color: rgba(0, 0, 0, 0.7);
    width: 261px;
    position: absolute;
    z-index: 16;
    font-size: 1.8em;
    margin-top: 84px;
    padding-left: 15px;
    color: #fff;
	margin-left: 14px;
}

#block-views-block-events-calendar-block-block-1 h2{
	font-size: 22px !important;
}
div#block-views-block-events-calendar-block-block-1{
	height:236px;
	background-color:#56BBB8;
	padding: 1%;
}
#block-views-block-events-calendar-block-block-1 .more-link{
    float: right;
    margin-right: 4px;
}

.fest-full-date{
	width: 30%;
	height: 105px;
	background: #B31B47;
	float: left;
	margin-left: 13px;
	border: 2px dotted #D55592;
    border-right: 0;
}
.fest-day{
	background: #4B020E;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	border-radius: 6px;
	padding: 2px 3px;
	margin: 3px;
	text-align: center;
}

.fest-date{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.fest-month{
	color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
}
.fest-year{
	text-align: center;
    font-size: 18px;
    color: #666;
    font-weight: bold;
	margin-top: -4px;
}
.fest-time{
	background: #682C41;
	background-image: url("../../zircon/images/time2.png") ;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 21% 53%;
	height: 45px;
    width: 58.6%;
    float: right;
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding-top: 11px;
	border-top: 2px dotted #4E212F !important;
	margin-right: 13px;
	border: 2px dotted #D55592;
    border-left: 0;
}
.views-field-field-event-venue{
	background:#682C41;
	background-image: url("../../zircon/images/location1.png") ;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 20% 49%;
	height: 60px;
    width: 58.6%;
    float: right;
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding-top: 14px;
    padding-left: 27px;
	margin-right: 13px;
	border-image: url("../../zircon/images/border.png") ;   
	border: 2px dotted #D55592;
    border-bottom: 0;
    border-left: 0;
}
.views-field-field-event-venue .field-content{
	width: 76px;
    margin-left: 16px;
    margin-top: -2px;
	line-height: 17px;
}
#block-views-block-fests-evnts-block-1 .views-row {
	height: 220px;
    background-color: #EFEFEF;
	background-image: url("../../zircon/images/new-dribbble.png") ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 52% -2%;
	border-image: url(border.png) 20% round;
	margin-bottom:23px;
}
#block-views-block-fests-evnts-block-1 .views-field.views-field-title a{
	    color: #583143;
    font-size: 16px;
    margin-left: 10px;
}
#block-views-block-fests-evnts-block-1 .views-field.views-field-title{
    background-image: url("../../zircon/images/pink-icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 52% -21%;
    margin-left: 2px;
    margin-top: -5px;
    height: 89px;
    position: relative;
    text-align: center;
	padding: 20% 4% 0% 0%;
}
details.captcha.js-form-wrapper.form-wrapper .details-description{
	display:none;
}


div#block-views-block-events-calendar-block-block-1 .views-row.clearfix.row-1{
	background:none;
	
}
.views-field.views-field-field-fests-club-logo img{
	display:block;
    position:relative;
    z-index:10;
    margin:-15px 0;
	 backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
	margin-left: 14px;
}
.field.field--name-field-fests-club-logo.field--type-image.field--label-hidden.field__item.quickedit-field img{
	width: 34%;
    margin-top: 15px;
    float: left;
}
.field.field--name-field-fests-banner.field--type-image.field--label-hidden.field__item.quickedit-field {
	border: 6px solid #333;
    padding: 1%;
}
#edit-captcha-response{
	width:200px !important;
}