/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald, h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'oswaldregular';
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #555555;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* html.scss */
/* line 4, ../sass/html.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #555555;
  background: #f6f6f6;
}

/* line 12, ../sass/html.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../sass/html.scss */
header, nav, section, article, figure, aside, footer {
  display: block;
}

/* line 20, ../sass/html.scss */
a {
  color: #555555;
}

/* line 23, ../sass/html.scss */
a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #333;
}

/* line 28, ../sass/html.scss */
h1, .h1 {
  font-size: 1.84em;
}

/* line 31, ../sass/html.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin: 0 0 15px;
  line-height: 1.3;
}

/* line 36, ../sass/html.scss */
h2 {
  font-size: 1.57em;
}

/* line 40, ../sass/html.scss */
h3, .h3 {
  font-size: 1.428em;
}

/* line 43, ../sass/html.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-size: 1em;
}

/* line 48, ../sass/html.scss */
address {
  margin-bottom: 15px;
}

/* line 52, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 57, ../sass/html.scss */
input, button, select, textarea {
  padding: 6px;
  border: 1px solid #ddd;
  outline: none;
}

/* line 62, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 65, ../sass/html.scss */
p {
  margin-bottom: 15px;
  
}





/************************Custom CSS*************/



#block-views-block-ipm-club-block-1-4{
	width: 49%;
    float: left;
    color: #fff;
    padding: 1% 0% 3% 3%;
	border-right: 1px solid #fff;
	font-size: 20px;
	background-color:#595E61;
	border-radius:7px;
}
#block-views-block-pgp-club-block-1-4{
	width: 49%;
	float:right;
    color: #fff;
    padding: 1% 0% 3% 3%;
	font-size: 20px;
	background-color:#595E61;
	border-radius:7px;
}

div#block-views-block-latest-news-events-block-1 .views-field.views-field-title{
	font-size:1.1em  !important;
	width:200px !important ;
}
.views-field.views-field-field-news-events-image {
    width: 30%;
    float: left;
}
.sidebar-first.views-field.views-field-title{
  width: 50%;
  font-size: 25px;
    float: left;
    height: 43px;
}
.content .views-field.views-field-field-sheduled-date-time{
	 color:#3498DA !important;
}
.sidebar .views-field-title {
    font-weight: bold;
    font-size: 15px !important;
	color:#55555 !important;
}
span.views-field.views-field-title a  {
	 font-size: 25px;
	 font-size: 25px;
	 color:#3498DA ;
}
.content .views-field-title {
	 font-size: 30px;
	  color:#3498DA ;
}
.content .views-field-title a{
	  color:#3498DA ;
}
.content .views-field-title a:hover{
	  color:#006699 !important;
}
span.views-field.views-field-title a:hover {
	 color:#006699 !important;
}

span.views-field.views-field-field-news-image {
    float: left;
    width:30%;
}
span.views-field.views-field-field-sheduled-date-time {
    color: #3498DA;
    font-size: 12px;
}
#block-views-block-latest-news-events-block-1 .views-field.views-field-field-sheduled-date-time,
div#block-views-block-pgp-latest-news-events-block-1 .views-field.views-field-field-sheduled-date-time,
div#block-views-block-latest-news-events-ipm-block-1 .views-field.views-field-field-sheduled-date-time,
div#block-views-block-latest-news-events-block-1-2 .views-field.views-field-field-sheduled-date-time{
    width: 47%;
	height:100px;
	font-family: 'Century Gothic';
    float: left;
    background-image:url("../../zircon/images/calendar.jpg") !important;
    color: #333;
	padding: 14% 0% 0% 9%;
    margin: 1px 7px 4px -14px;
	background-repeat: no-repeat;
	font-weight: bold;
}
span.views-field.views-field-body p{
	margin-left:0px;
}
.views-field.views-field-body {
    height: 90px;
	color:#777 !important;
}
#block-views-block-latest-articles-block-1 .views-field.views-field-body  p,
div#block-views-block-latest-articles-ipm-block-1 .views-field.views-field-body  p {
	margin-left:0px;
	font-size:12px !important;
}
.views-field.views-field-body  p{
	margin-left:30%;
}
.views-field.views-field-field-news-image{
	height:111px;
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.views-field.views-field-field-news-image:hover{
	    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

div#block-views-block-latest-articles-block-1 .views-field-title ,
div#block-views-block-latest-articles-ipm-block-1 .views-field-title {
	font-size: 0.9em;
	height: 110px;
	width: 90%;
}
div#block-views-block-live-project-block-1 .views-field-title{
	font-size: 1.1em;
	height: 80px;
	width: 90%;
}
.sidebar-first span.views-label.views-label-field-functional-domains{
	width:88% !important;
}
.sidebar-first #block-views-block-projects-block-1 .views-field.views-field-title {
    width: 97%;
	margin-left:0 !important;
}
#block-views-block-live-project-block-1 {
 
    border: 5px solid #f6f6f6;
	padding:1%;
	background-color:#f6f6f6;
	border-radius:5px;
}
#block-views-block-live-projects-block-1-4 .views-field-title{
	height: 60px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-field-company-logo{
	height: 100px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-body p {
	margin-left:0 !important;
	font-size:12px !important;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-field-company-name{
	width:200px;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-view-node{
	margin-left:0px  !important;
}
#block-views-block-latest-articles-block-1 .views-field-title a,
#block-views-block-live-projects-block-1-4 .views-field-title a,
#block-views-block-latest-articles-ipm-block-1 .views-field-title a{
	color:#555 !important;
}
.content .views-field-title a:hover{
    color: #3498DA;
}
.content .views-field-created {
	color: #3498DA;
    font-size: 12px;
}
.content #block-views-block-latest-articles-block-1 .field-content,
.content #block-views-block-latest-articles-ipm-block-1 .field-content{
	width:82%;
}
#block-views-block-latest-articles-block-1 ,
#block-views-block-latest-articles-ipm-block-1 {
	padding-left:4%;
	background-color:#fcfcfc;
}
.views-field-view-node a:hover{
	color:#fff !important;

}
#block-views-block-latest-articles-block-1 .views-field-view-node ,
#block-views-block-live-project-block-1 .views-field-view-node ,
div#block-views-block-latest-articles-ipm-block-1 .views-field-view-node{
    background: #006699;
    width: 80px;
    color: #fff !important;
    padding: 3px 0px 1px 3px;
	margin-left:0;
   
}
.views-field.views-field-field-apply-now {
	 background: #006699;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
	margin-left:20px;
}
div#block-views-block-live-project-block-1 .views-field.views-field-field-apply-now {
	 background: #006699;
    width: 72%;
    color: #fff !important;
   padding: 3px 0px 7px 8px;
    margin-left: -4px;
    margin-top: 9px;
}
.field.field--name-field-apply-now.field--type-link{
	 background: #006699;
    width: 145px;
    color: #fff !important;
   padding: 6px 12px 10px 11px;
    margin-left: 20px;
    float: right;
    margin-top: -72px;
     border-radius: 5px;
	 margin-right: 11px;
}
.views-field.views-field-field-apply-now a,
.field.field--name-field-apply-now.field--type-link a {
	 color: #fff !important;
}
.views-field-view-node{
    background: #006699;
    width: 80px;
    color: #fff !important;
    padding: 5px 10px 9px 6px;
	margin-left:20px;
}
.more-link{
	background: #006699;
    width: 83px;
    color: #fff !important;
    padding: 6px 6px 5px 6px;
    margin-left: 130px;

}

.more-link a{
	color:#fff !important;
}
input#edit-submit--2{
	background: #006699 ! important;
}

th#view-title-table-column {
      width: 36%;
	  color: #fff ! important;
}
td.views-field.views-field-title,
td.views-field.views-field-title a {
    font-size: 12px;
    color: #fff !important;
    padding: 2% 0% 2% 2%;
    font-weight: 100;
}
td.views-field.views-field-comment-count,
td.views-field.views-field-comment-count a {
    text-align: center;
	color:#fff;
}
.odd-row{
	background: #3498DA;
}
.content .odd-row{
	background: none;
}
.views-field.views-field-taxonomy-forums,
.views-field.views-field-taxonomy-forums a{
     padding: 5% 4% 5% 3%;
	 color: #fff;
	 font-size: 1em;
}
.views-field.views-field-taxonomy-forums a:hover{
	color:#333;
}
#view-comment-count-table-column{
	padding-right:9px;
	color: #fff;
}
.view-title-table-column tr.odd {
    background-color: #3498DA;
}

#block-views-block-discussion-forum-block-1 {
    background-color: #006699;
	padding:0px;
}
.sidebar-first .views-field-title{
	margin-left: 31px;
}

.region.region-sidebar-second.contextual-region{
	border-bottom: 0;
	border-top: 30px solid #3498DA;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;

}
#block-views-block-latest-news-events-block-1 {
	border:5px solid #3498DA ;
}


#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size: 21px;
    color: #333;
}
#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size:20px;
}

header#header {

	height: 100px;
}
.site-logo img {
    width: 212px !important;
    margin-left: 40px;
    margin-top: -39px;
}
#block-zircon-search {
	margin: 1% 3% 0% 0%;
}
#main-menu .container ul.menu .menu-item--expanded{
	background-color:#1C64A1 ! important;
}
#block-socialmedialinks {
    margin-left:77%;
}
.views-field.views-field-field-ipm-logo,
.views-field.views-field-field-club-logo {
    float: left;
	width:29%;
     border: 1px solid #dadada;
    padding: 2% 0% 2% 8%;
	background-color:#fcfcfc;
	margin: 1%;
}
.sidebar-first .views-field.views-field-field-ipm-logo,
.sidebar-first .views-field.views-field-field-club-logo,
.sidebar-second .views-field.views-field-field-ipm-logo,
.sidebar-second .views-field.views-field-field-club-logo {
	width:80%;
	padding:0;
	border:0;
	margin: 0;
}
div#block-views-block-ipm-club-block-1-4 .views-field.views-field-field-ipm-logo,
div#block-views-block-pgp-club-block-1-4 .views-field.views-field-field-club-logo{
	width:65%;
	display: inline-block;
    padding: 10% 2% 6% 2%;
   border: 1px solid #fff;
	margin: 8px 8px 1px -1px;
	background-color:#fff;
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.views-field.views-field-field-ipm-logo:hover,
.views-field.views-field-field-club-logo:hover{
	-webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
#panel_first .container {
	background-color:#eee !important;
}

#block-views-block-ipm-club-block-1-2 {
	margin-top: 7px;
}
div#block-views-block-latest-news-events-block-1 h2 {
    background: #3498DA;
   color: white;
  font-size: 1.23em;
    text-align: center;
}

#block-views-block-latest-news-events-block-1 .region-sidebar-second .contextual{
	border-bottom: 0;
	border-top: 30px solid #3498DA;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;
}
.region.region-slideshow {
    height: 390px;
	width:100%;
}
.views-row.views-field.views-field-body{
	padding:1%;

}
.views-field-view-node a{
	color:#fff !important;
	font-size:11px;
}
ul.inline li a, ul.links.inline li a{
	background-color:#006699 !important;
}
ul.inline li a:hover,ul.links.inline li a:hover{
	background-color:#3498DA !important;
}
span.fa.fa-envelope.fa-2x,
span.fa.fa-facebook.fa-2x,
span.fa.fa-twitter.fa-2x,
span.fa.fa-youtube.fa-2x {
    font-size: 12px;
}
ul.inline .node-readmore a, ul.links.inline .node-readmore a{
	color:#fff !important;
}
.views-field.views-field-field-notice-date{
	margin-left: 27px;
    margin-top: 11px;
    color: #3498DA !important;
}

.views-col.col-1,.views-col.col-2{
    float: left;
}
#block-views-block-carousel-block-1-3 {
   height: 230px;
    background-color: #595E61;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
}
#block-views-block-video-carousel-block-1-5{
	margin-top: 353px;
    background-color: #595E61;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
    height: 216px;
}
.slick-slide.slick-active {
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.slick-slide.slick-active:hover{
  -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.view-empty {
    display: none;
}
input#edit-mail {
    width: 185px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    color: #555555;
    float: left;
    height: 35px;
    line-height: 1.6;
    vertical-align: middle;
}
 input[type="submit"]{
	background-color: #006699;
	color:#fff;
	height:35px;
}
input[type="submit"]:hover{
	background-color:#3498DA;
}
#footer ul.menu li a.is-active {
    color: #006699 !important;
}
#footer ul.menu li a:hover {
    color: #006699 !important;
}
input#edit-preview,.form-submit {
	background-color: #006699 !important;
}
input#edit-preview:hover,.form-submit:hover {
	background-color: #3498DA !important;
}

#header .search-block-form .button{
	background:none !important;
}
.content .feed-icons{
	display:none;
}
span.views-field.views-field-field-company-logo {
    height: 230px;
    float: left;
}
.views-label.views-label-field-company-name,
.views-label.views-label-field-club-committee-name,
.views-label.views-label-field-duration,
.views-label.views-label-field-functional-domains,
.views-label.views-label-field-location,
.views-label.views-label-field-number-of-openings,
.views-label.views-label-field-report,
.views-label.views-label-field-target-audience{
    float: left;
	color:#333;
	width:24%;
	font-size: 17px;
    height: 18px;
}
.views-field.views-field-field-target-audience {
    margin-bottom: 26px;
}
.node.node--type-live-projects.node--view-mode-full {
	background-color:#fcfcfc;
}
.content .field.field--name-body.field--type-text-with-summary{
	background-color:#fff;
}
.field.field--name-field-company-logo{
    margin-left: 11px;
}
.field.field--name-field-club-committee-name,
.field.field--name-field-company-name,
.field.field--name-field-functional-domains,
.field.field--name-field-location,
.field.field--name-field-duration,
.field.field--name-field-target-audience,
.field.field--name-field-number-of-openings,
.field.field--name-field-report,
.field.field--name-field-last-date-to-apply
 {
    padding: 2%;
}
#data-quickedit-field-id{
	background-color:#fafafa;
}
#block-views-block-live-projects-block-1-4 .views-field.views-field-title {
	font-size:15px;
}
.content label.js-form-required.form-required{
	font-size:18px;
	color:#3498DA;
	width:100%;
		
}
.description{
   width: 96%;
}

.content label.js-form-required.form-required:hover{
	color:#006699;
}
form#user-register-form,
form#user-pass {
    width: 50%;
    margin: auto;
	border:3px solid #777;
	background-color:#fcfcfc;
    padding: 4%;
	border-radius:5px;
}
 #edit-account .form-email ,
input#edit-name {
	 width:95.6% !important;
	 margin-bottom: 6px;
 }
 input#edit-field-first-name-0-value,
input#edit-field-last-name-0-value,
select#edit-field-program-name,
select#edit-field-gender {
    width: 214px;
}
div#edit-field-first-name-wrapper,
div#edit-field-last-name-wrapper,
#edit-field-program-name-wrapper,
#edit-field-gender-wrapper{
	width:50%;
	float:left;
}
div#edit-field-team-member-of-wrapper,
div#edit-field-team-member-of-ipm-club-wrapper,
div#edit-field-ipm-committees-wrapper,
div#edit-field-pgp-committee-wrapper  {
    width: 25% ! important;
    float: left ! important;
}



#tabs2 li,
#tabs3 li{
    width: 17%;
    float: left;
    text-align: center;
    height: 50px;
    padding: 2%;
}
#tabs li,
#tabs1 li{
	 width: 37%;
    float: left;
    text-align: center;
    height: 37px;
    padding: 3%;
}
#tabs{font-size: 14px;}
 .ui-widget-header {
	background:#3489DA;
	border: 1px solid #b9cd6d;
	color: #FFFFFF;
	font-weight: bold;
 }
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    border: 1px solid #d3d3d3/*{borderColorDefault}*/;
    background: #006699/*{bgColorDefault}*/ !important;
    font-weight: normal/*{fwDefault}*/;
    color: #555555/*{fcDefault}*/;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a{
	color:#fff !important;
	font-size:15px !important;
}
li.ui-state-default.ui-corner-top {
    background-color: #3489DA !important;
}
li.ui-state-default.ui-corner-top.ui-state-hover{
	 background: #006699/*{bgColorDefault}*/ !important;
}
