/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald, h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'oswaldregular';
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #555555;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* html.scss */
/* line 4, ../sass/html.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #555555;
  background: #f6f6f6;
}

/* line 12, ../sass/html.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../sass/html.scss */
header, nav, section, article, figure, aside, footer {
  display: block;
}

/* line 20, ../sass/html.scss */
a {
  color: #555555;
}

/* line 23, ../sass/html.scss */
a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #333;
}

/* line 28, ../sass/html.scss */
h1, .h1 {
  font-size: 1.84em;
}

/* line 31, ../sass/html.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin: 0 0 15px;
  line-height: 1.3;
}

/* line 36, ../sass/html.scss */
h2 {
  font-size: 1.57em;
}

/* line 40, ../sass/html.scss */
h3, .h3 {
  font-size: 1.428em;
}

/* line 43, ../sass/html.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-size: 1em;
}

/* line 48, ../sass/html.scss */
address {
  margin-bottom: 15px;
}

/* line 52, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 57, ../sass/html.scss */
input, button, select, textarea {
  padding: 6px;
  border: 1px solid #ddd;
  outline: none;
}

/* line 62, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 65, ../sass/html.scss */
p {
  margin-bottom: 15px;
}





/************************Custom CSS*************/



#block-views-block-ipm-club-block-1-4{
	width: 49%;
    float: left;
    color: #fff;
    padding: 1% 0% 3% 3%;
	border-right: 1px solid #fff;
	font-size: 20px;
	background-color:#595E61;
	border-radius:7px;
}
#block-views-block-pgp-club-block-1-4{
	width: 49%;
	float:right;
    color: #fff;
    padding: 1% 0% 3% 3%;
	font-size: 20px;
	background-color:#595E61;
	border-radius:7px;
}

span.views-field.views-field-title{
width: 50%;
font-size: 25px;
}
.sidebar-first.views-field.views-field-title{
  width: 50%;
  font-size: 25px;
    float: left;
    height: 43px;
}
span.views-field.views-field-field-sheduled-date-time {
background-image:url("../../zircon/images/calend.jpg") !important;
width: 18%;
height: 4px;
font-family: 'Century Gothic';
float: none;
color: #333;
padding: 1% 0% 0% 0%;
margin: 44px 6px 4px 18px;
background-repeat: no-repeat;
font-weight: bold;
}


.views-field.views-field-field-sheduled-date-time {
    width: 47%;
	height:100px;
	font-family: 'Century Gothic';
    float: left;
    background-image:url("../../zircon/images/calendar.jpg") !important;
    color: #333;
	padding: 14% 0% 0% 9%;
    margin: 1px 7px 4px -14px;
	background-repeat: no-repeat;
	font-weight: bold;
}

.views-field.views-field-field-news-image{
	height:125px;
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.views-field.views-field-field-news-image:hover{
	    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.content .views-field-title{
	font-size: 1.1em;
	height: 110px;
	width: 90%;
}
.content .views-field-title a:hover{
    color: #a7c324;
}
.content .views-field-created {
	color: #a7c324;
    font-size: 12px;
}
.content .field-content {
	width:82%;
}
.views-field-view-node a:hover{
	color:#fff !important;

}
.content .views-field-view-node{
    background: #ff9c00;
    width: 80px;
    color: #fff !important;
    padding: 3px 0px 1px 3px;
}
.more-link{
	background: #ff9c00;
    width: 83px;
    color: #fff !important;
    padding: 6px 6px 5px 6px;
    margin-left: 130px;

}

.more-link a{
	color:#fff !important;
}
input#edit-submit--2{
	background: #ff9c00 ! important;
}

th#view-title-table-column {
      width: 36%;
	  color: #fff;
}
td.views-field.views-field-title,
td.views-field.views-field-title a {
    font-size: 12px;
    color: #fff !important;
    padding: 2% 0% 2% 2%;
    font-weight: 100;
}
td.views-field.views-field-comment-count,
td.views-field.views-field-comment-count a {
    text-align: center;
	color:#fff;
}
.odd-row{
	background: #ffb033;
}
.views-field.views-field-taxonomy-forums,
.views-field.views-field-taxonomy-forums a{
     padding: 5% 4% 5% 3%;
	 color: #fff;
	 font-size: 1em;
}
.views-field.views-field-taxonomy-forums a:hover{
	color:#333;
}
#view-comment-count-table-column{
	padding-right:9px;
	color: #fff;
}
.view-title-table-column tr.odd {
    background-color: #ffb033;
}

#block-views-block-discussion-forum-block-1 {
    background-color: #ff9c00;
	padding:0px;
}
.sidebar-first .views-field-title{
	margin-left: 31px;
}

.region.region-sidebar-second.contextual-region{
	border-bottom: 0;
	border-top: 30px solid #a7c324;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;

}
#block-views-block-latest-news-events-block-1 {
	border:5px solid #a7c324 ;
}


#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size: 21px;
    color: #333;
}
#block-views-block-latest-articles-block-1.views-field.views-field-title{
	font-size:20px;
}

header#header {

	height: 100px;
}
.site-logo img {
    width: 212px !important;
    margin-left: 40px;
    margin-top: -39px;
}
#block-zircon-search {
	margin: 1% 3% 0% 0%;
}
#main-menu .container ul.menu .menu-item--expanded{
	background-color:#1C64A1 ! important;
}
#block-socialmedialinks {
    margin-left:77%;
}
.views-field.views-field-field-ipm-logo,
.views-field.views-field-field-club-logo{
	width:65%;
	display: inline-block;
    padding: 10% 2% 6% 2%;
   border: 1px solid #fff;
	margin: 8px 8px 1px -1px;
	background-color:#fff;
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.views-field.views-field-field-ipm-logo:hover,
.views-field.views-field-field-club-logo:hover{
	-webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
#panel_first .container {
	background-color:#eee !important;
}
#block-views-block-latest-news-events-block-1 {
	margin-top: 28px;
}

.region.region-sidebar-second h2 {
    background: #a7c324;
   color: white;
 margin: -50px -9px 20px -24px;
  padding: 10px 15px;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.23em;
    width: 80%;
    height: 55px;
    margin-left: 23px;
	position:relative;
    text-align: center;
}

.region.region-sidebar-second .contextual{
	border-bottom: 0;
	border-top: 30px solid #a7c324;
    border-right: 90px solid rgba(0,0,0,0);
    border-left: 90px solid rgba(0,0,0,0);
    bottom: -30px;
    content: "";
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
    margin-top: 14px;
}
.region.region-slideshow {
    height: 390px;
	width:100%;
}
.views-row.views-field.views-field-body{
	padding:1%;

}
.views-field-view-node a{
	color:#fff !important;
	font-size:11px;
}
ul.inline li a, ul.links.inline li a{
	background-color:#ff9c00 !important;
}
ul.inline li a:hover,ul.links.inline li a:hover{
	background-color:#a7c324 !important;
}
span.fa.fa-envelope.fa-2x,
span.fa.fa-facebook.fa-2x,
span.fa.fa-twitter.fa-2x,
span.fa.fa-youtube.fa-2x {
    font-size: 10px;
}
ul.inline .node-readmore a, ul.links.inline .node-readmore a{
	color:#fff !important;
}
.views-field.views-field-field-notice-date{
	margin-left: 27px;
    margin-top: 11px;
    color: #a7c324 !important;
}

.views-col.col-1,.views-col.col-2{
    float: left;
}
#block-views-block-carousel-block-1-3 {
   height: 230px;
    background-color: #595E61;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
}
#block-views-block-video-carousel-block-1-5{
	margin-top: 353px;
    background-color: #595E61;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
	margin-bottom: 20px;
    height: 216px;
}
.slick-slide.slick-active {
	 -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
}
.slick-slide.slick-active:hover{
  -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.view-empty {
    display: none;
}
